# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy


# API
gcsfs
google-cloud-storage
mlflow
s3fs
flask

# utilities
six>=1.14
joblib
memoized-property
termcolor
python-dotenv

# Sonos
soco-cli
soco
