{% extends 'base.html' %}

{% block container %}
<div class="top-pad">
  <h2>
    Es klingelt fuer "{{ items['name'] }}"...
  </h2>
</div>
<div class="top-pad">
  <p>Willst du eine Nachricht hinterlassen?<br>
  (Bitte Namen mit angeben, danke.)</p>
<form action='/{{ person }}/send_msg' method="POST">
    <div>
      <textarea name="text" placeholder="Schreibe deine Nachricht hier..." cols="40" rows="5" class="form-control" id="exampleFormControlTextarea1"></textarea>
    </div>
    <div>
      <br>
      <button class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Senden</button>
    </div>
</form>
</div>
<div class="top-pad">
  <a href="/" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"
    onclick="ga('send', 'event', 'Examples', 'Hero', 'Download Examples');">Zurück zur Übersicht</a>
</div>

{% endblock %}
